body {
    background-color: rgb(84, 88, 90);
}

h1 {
    color: rgb(220, 220, 220); 
    text-align: center;
}

.center {
    text-align: center;
}

.text, h2, p, li {
    color: rgb(220, 220, 220);
}

.profile-box {
    border: 2px solid rgb(200, 200, 200);
    padding: 20px;
    width: 50%;
    margin: 20px auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}

.container div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 50px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}